html {
    background-size: cover;
    background-color: rgb(94, 92, 92);
    background-image: url(qdnlu87xmez01.png);
    background-repeat: no-repeat;
    background-position-x: center;
    margin-top: 10%;
    background-size: 50%;
    color: honeydew;
    font-family: "Roboto";
}
ul {
    background-color: whitesmoke;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
li {
    float: left;
}
a:link {
    display: inline-block;
    color: black;
    padding: 13px 15px;
    text-decoration: none;
}
a:hover {
    background-color: rgb(228, 228, 228);
}